body, html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}

* {
    outline: none !important;
}

a, a:visited, a:focus {
    color: #e9685d;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


#rail-buttons a span.unactive {
    cursor: default;
    background-color: transparent;
}

#rail-buttons {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

#rail-buttons a {
    position: relative;
    float: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#rail-buttons a:hover {
    position: relative;
    float: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#rail-buttons > * > span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


#djax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

#content {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

#container.full #content {
    width: 100%;
    padding: 0;
}

/* image protection */

#image-copyright {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    padding: 2px 10px;
    color: #fff;
    /*border:3px solid #e9685d;*/
    font-size: 13px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#rail-screen {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #1d1d1d;
}

#rail-slider {
    float: left;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#rail {
    float: left;
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#rail img {
    float: left;
    width: auto;
    height: 100%;
    position: relative;
}

#rail-info {
    position: fixed;
    bottom: 15%;
    left: 50%;
    width: 700px;
    margin-left: -350px;
}

#rail-info .img-title-holder {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#rail-info .separator {
    margin: -3px auto -2px;
}

#rail-info .separator:before, #rail-info .separator:after {
    width: 100px;
}

#rail-info .img-title {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rail-info .img-desc {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
    margin: 0;
}

#rail-source {
    display: none;
}


.separator {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #000;
    margin: 20px auto 25px;
}

.separator:before, .separator:after {
    position: absolute;
    content: '';
    top: 50%;
    height: 1px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.3);
}

.separator:before {
    right: 15px;
}

.separator:after {
    left: 15px;
}

.separator.white {
    background-color: #fff;
}

.separator.white:before, .separator.white:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.separator.double-width:before, .separator.double-width:after {
    width: 90px;
}
