<footer class="row" id="footer" style="margin-top: 20px;height:80px;background-color: #2C2827;color: white">
    <div class="col-sm-12 copy-right" style="padding-top: 20px">
        <h5 style="text-align: center">CopyRight &#169; 2019-2019 博客</h5>
        <h5 style="text-align: center">滇ICP备17007299号</h5>
    </div>
    <!--主动推送链接到百度-->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</footer>