<section class="message">
    <div class="card" style="background-color: transparent;margin-top: 20px;">
        <div class="card-body">
            <div class="row">
                {% for message in message_list %}
                    <div class="col-sm-6">
                        <div class="card" style="background-color: transparent;margin-top: 20px">
                            <div class="card-header">
                                <div class="row">
                                    <img src="{{ message.user.icon.url }}" class="rounded-circle" alt="user"
                                         width="25px" height="25px">
                                    <h6 class="text-primary font-weight-bold"
                                        style="margin-top: 2px">{{ message.title }}</h6>
                                </div>
                                <small class="text-secondary" style="opacity: 0.5;">
                                    <i class="el el-user icon-common"></i>&nbsp;
                                    {{ message.user.username }}&nbsp;&nbsp;
                                    <i class="el el-time icon-common"></i>&nbsp;
                                    {{ message.pub_date }}
                                </small>
                            </div>
                            <div class="card-body scroll-message-text "
                                 style="height: 200px;overflow: auto;background-color: rgba(200,200,200,0.2);opacity: 0.8;">
                                <div class="message-content text-secondary">{{ message.content }}</div>
                                {% if message.reply_content != '' %}
                                    <div class="message-reply text-info" style="margin-top: 10px"><small>作者回复:&nbsp;&nbsp;{{ message.reply_content }}</small></div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>